In [1]:
import pandas as pd

# Load each CSV file into a separate DataFrame
df_avg = pd.read_csv('average_weather_data_2021.csv')
df_max = pd.read_csv('max_weather_data_2021.csv')
df_min = pd.read_csv('min_weather_data_2021.csv')

df_avg.head()

,ID,Name,State,Value,Anomaly (1901-2000 base period),Rank,1901-2000 Mean,Unnamed: 7
0,AL-001,Autauga County,Alabama,65.6,1.7,114.0,63.9,NaN
1,AL-003,Baldwin County,Alabama,67.9,1.1,108.0,66.8,NaN
2,AL-005,Barbour County,Alabama,65.2,0.4,85.0,64.8,NaN
3,AL-007,Bibb County,Alabama,63.4,0.6,89.0,62.7,NaN
4,AL-009,Blount County,Alabama,62.4,1.8,114.0,60.6,NaN

In [2]:
df_avg = df_avg.drop(columns=['ID', 'Anomaly (1901-2000 base period)', 'Rank', '1901-2000 Mean', 'Unnamed: 7'], errors='ignore')
df_avg = df_avg.rename(columns={'Value': 'Avg 2021'})
df_avg.head()

             Name    State Avg 2021
0  Autauga County  Alabama     65.6
1  Baldwin County  Alabama     67.9
2  Barbour County  Alabama     65.2
3     Bibb County  Alabama     63.4
4   Blount County  Alabama     62.4

In [3]:
df_max.head()

,ID,Name,State,Value,Anomaly (1901-2000 base period),Rank,1901-2000 Mean,Unnamed: 7
0,AL-001,Autauga County,Alabama,76.7,1.0,100.0,75.7,NaN
1,AL-003,Baldwin County,Alabama,77.7,0.4,77.0,77.3,NaN
2,AL-005,Barbour County,Alabama,76.2,-0.2,58.0,76.4,NaN
3,AL-007,Bibb County,Alabama,74.6,-0.2,57.0,74.8,NaN
4,AL-009,Blount County,Alabama,72.1,-0.6,39.0,72.7,NaN

In [4]:
df_max = df_max.drop(columns=['ID', 'Anomaly (1901-2000 base period)', 'Rank', '1901-2000 Mean', 'Unnamed: 7'], errors='ignore')
df_max = df_max.rename(columns={'Value': 'Max 2021'})
df_max.head()

             Name    State Max 2021
0  Autauga County  Alabama     76.7
1  Baldwin County  Alabama     77.7
2  Barbour County  Alabama     76.2
3     Bibb County  Alabama     74.6
4   Blount County  Alabama     72.1

In [5]:
df_min.head()

,ID,Name,State,Value,Anomaly (1901-2000 base period),Rank,1901-2000 Mean,Unnamed: 7
0,AL-001,Autauga County,Alabama,54.5,2.4,122.0,52.1,NaN
1,AL-003,Baldwin County,Alabama,58,1.8,113.0,56.2,NaN
2,AL-005,Barbour County,Alabama,54.3,1.2,106.0,53.1,NaN
3,AL-007,Bibb County,Alabama,52.2,1.5,112.0,50.7,NaN
4,AL-009,Blount County,Alabama,52.7,4.2,125.0,48.5,NaN

In [6]:
df_min = df_min.drop(columns=['ID', 'Anomaly (1901-2000 base period)', 'Rank', '1901-2000 Mean', 'Unnamed: 7'], errors='ignore')
df_min = df_min.rename(columns={'Value': 'Min 2021'})
df_min.head()

             Name    State Min 2021
0  Autauga County  Alabama     54.5
1  Baldwin County  Alabama       58
2  Barbour County  Alabama     54.3
3     Bibb County  Alabama     52.2
4   Blount County  Alabama     52.7

In [7]:
# Combine the DataFrames column-wise
combined_df = pd.concat([df_avg, df_max, df_min], axis=1)
combined_df.head()

,Name,State,Avg 2021,Name,State,Max 2021,Name,State,Min 2021
0,Autauga County,Alabama,65.6,Autauga County,Alabama,76.7,Autauga County,Alabama,54.5
1,Baldwin County,Alabama,67.9,Baldwin County,Alabama,77.7,Baldwin County,Alabama,58
2,Barbour County,Alabama,65.2,Barbour County,Alabama,76.2,Barbour County,Alabama,54.3
3,Bibb County,Alabama,63.4,Bibb County,Alabama,74.6,Bibb County,Alabama,52.2
4,Blount County,Alabama,62.4,Blount County,Alabama,72.1,Blount County,Alabama,52.7

In [8]:
# Select only the first occurrence of "Name", "State", and the "Avg 2020", "Max 2020", and "Min 2020" columns
counties_2021 = combined_df.loc[:, ~combined_df.columns.duplicated()]
counties_2021.head()

             Name    State Avg 2021 Max 2021 Min 2021
0  Autauga County  Alabama     65.6     76.7     54.5
1  Baldwin County  Alabama     67.9     77.7       58
2  Barbour County  Alabama     65.2     76.2     54.3
3     Bibb County  Alabama     63.4     74.6     52.2
4   Blount County  Alabama     62.4     72.1     52.7

In [9]:
counties_2021.to_csv('counties_2021.csv', index=False)